<div class="jumbotron text-center">
  <h1>La <code>mejor</code> aplicación</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Bienvenido</h2>
        <p>Estás en este momento en la <code>mejor</code> página web de todas</p>
        <p>Esto es una garantía</p>
      </div>
  
      <div class="col-sm-4">
        <h2>Subscríbete</h2>
        <p>Es sencillo</p>
        <%= link_to "Subscríbete ahí", signup_path, class: "btn btn-lg btn-primary" %>
      </div>

      <div class="col-sm-4">
        <h2>Deberías</h2>
        <p>De pana deberías meterte en esta página más</p>
        <p>Es la <code>mejor</code> página de todas</p>
      </div>
    </div>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"), "http://google.com" %>

  <blockquote>
    <p>Te vas a tener que mamar un webo</p>
    <footer>Tomás Guzmán</footer>
  </blockquote>
</div>