<footer class="footer">
  
<small>
  The <a href="google.com">Sample App</a>
  By <a href="google.com">Tomás Guzmán</a>
</small>

<nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li>
      <a href="http://www.google.com">News</a>
    </li>
  </ul>
</nav>

</footer>